# Sistema y editores
.DS_Store
Thumbs.db
.vscode/

# Entorno
.env.local
.env*.local

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
venv/
__pycache__/

# Archivos sensibles
.env
*.pem
*.key

# Builds
dist/
build/
.next/

# Otros
*.log
